.loader .lottie-container {
  height: 100%;
  overflow: hidden;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px !important;
  margin-left: -150px !important;
}

.loader .loading-text {
  width: 100%;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  margin-top: -60px;
}
